{% extends "base.html" %} {% block content %}
<div class="container-fluid col-5 offset-3 my-5 text-center">
  <h1>Organize Your Work,Maintain Balance Be Smart and Be stress free</h1>
  <div class="para" style="font-family: 'Roboto', sans-serif">
    <p>
      With Work4Today, you may become peaceful, organized, and focused. The best
      to-do list and task organizer app in your screen.
    </p>
  </div>
  <div class="signup-page" style="margin-top: 2rem">
    <button type="button" class="btn btn-outline-primary btn-lg">
      Start With Free
    </button>
  </div>
</div>

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col" style="margin-top: 15rem">
      <img
        src="https://previews.123rf.com/images/9george/9george1511/9george151100092/47543496-hand-drawn-of-business-man-thinking-doodle-style-thoughts-overhead-on-a-sheet-of-exercise-book-back.jpg"
        class="img-fluid"
        alt="Man is thinking"
      />
    </div>
    <div class="col" style="margin-top: 12rem">
      <div class="container">
        <h3
          style="
            color: purple;
            text-align: left;
            margin-left: 1rem;
            margin-bottom: 1rem;
            font-family: 'Roboto', sans-serif;
          "
        >
          Take the Step
        </h3>
        <h2
          style="
            text-align: left;
            margin-left: 1rem;
            margin-top: 1rem;
            font-family: 'Roboto', sans-serif;
          "
        >
          Write it down.Make a step stair.Stop Procastination
        </h2>
        <p style="text-align: left; font-weight: 300; margin-left: 1rem">
          Your tasks are organized automatically into three categories: "Today,"
          "Upcoming," and customized "Filter" views, making it easier for you to
          focus on and prioritize your most crucial tasks.
        </p>
      </div>

      <div class="container" style="margin-top: 25rem">
        <h3
          style="
            color: purple;
            text-align: left;
            margin-left: 1rem;
            margin-bottom: 1rem;
            font-family: 'Roboto', sans-serif;
          "
        >
          Complete it Today
        </h3>
        <h2
          style="
            text-align: left;
            margin-left: 1rem;
            margin-top: 1rem;
            font-family: 'Roboto', sans-serif;
          "
        >
          Easy Access. Customize in your style.
        </h2>
        <p style="text-align: left; font-weight: 300; margin-left: 1rem">
          A single app can efficiently handle a multitude of tasks. Using
          workspaces, you can seamlessly manage your personal, work-related, and
          team tasks all within the same application. (Exhale in relief).
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 5rem">
  <h1
    class="text-center"
    style="margin-bottom: 5rem; font-family: 'Roboto', sans-serif"
  >
    Explore the Features
  </h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 12rem; height: 12rem">
          <img
            src="https://images.nightcafe.studio/jobs/zsFzIhVH21miFFHJtEHT/zsFzIhVH21miFFHJtEHT--1--tr419.jpg?tr=w-1600,c-at_max"
            class="card-img-top"
            alt="Edit Image"
          />
          <div class="card-body">
            <h3 class="card-text">Edit</h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height: 12rem">
          <img
            src="https://images.nightcafe.studio/jobs/B1HDV8VnA2ZLLnQcucLf/B1HDV8VnA2ZLLnQcucLf--1--pc9il.jpg?tr=w-1600,c-at_max"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h3 class="card-text">Create</h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height: 12rem">
          <img
            src="https://images.nightcafe.studio/jobs/TXeiBqaNdKDiJLVeFJkU/TXeiBqaNdKDiJLVeFJkU--1--xypn8.jpg?tr=w-1600,c-at_max"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h3 class="card-text">Sorting</h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height: 12rem">
          <img
            src="https://images.nightcafe.studio/jobs/HuczetItP2R32Q0oE5lw/HuczetItP2R32Q0oE5lw--1--wm6yh.jpg?tr=w-1600,c-at_max"
            alt="..."
          />
          <div class="card-body">
            <h3 class="card-text">Task prioritize</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Review-->
{% include "reviews.html" %}

<!--Footer-->

{% include "footer.html" %} {% endblock content %}
